@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --width-border: 1px;
        --radius: 0.375rem;

        /* --------------------------------------- */

        --opacity-disabled: 0.42;

        /* --------------------------------------- */

        --color-border: 214 32% 91%;

        --color-background: 220 14% 96%;
        --color-foreground: 221 39% 11%;

        --color-muted: 220 14% 93%;
        --color-muted-foreground: 220 14% 56%;

        --color-primary: 273 67% 39%;
        --color-primary-foreground: 287 80% 90%;

        --color-success: 116 69% 29%;
        --color-success-foreground: 95 75% 89%;

        --color-warning: 39 97% 50%;
        --color-warning-foreground: 48 96% 90%;

        --color-danger: 7 77% 47%;
        --color-danger-foreground: 26 88% 90%;

        --color-card-background: 0 0% 100%;
    }

    /* .dark {
        TODO: Find right colors for dark mode
    } */
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings:
            'rlig' 1,
            'calt' 1;
    }

    table th {
        @apply h-8 bg-background px-4 text-left text-xs font-normal text-muted-foreground;
    }

    table td {
        @apply border-t px-4 py-3 text-sm;
    }

    table tbody tr:nth-child(2n) td {
        @apply bg-background/25;
    }

    table tbody tr:hover td {
        @apply bg-background/50;
    }
}
