@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --width-border: 1px;
        --radius: 0.375rem;

        /* --------------------------------------- */

        --color-border: 214 32% 91%;

        --color-background: 220 14% 96%;
        --color-foreground: 221 39% 11%;

        --color-muted: 220 14% 93%;
        --color-muted-foreground: 220 14% 56%;

        --color-primary: 273 67% 39%;
        --color-primary-foreground: 273 37% 95%;

        --color-success: 142 72% 39%;
        --color-success-foreground: 142 40% 95%;

        --color-warning: 48 96% 53%;
        --color-warning-foreground: 48 96% 20%;

        --color-danger: 0 63% 41%;
        --color-danger-foreground: 0 63% 95%;

        --color-card-background: 0 0% 100%;

        --color-input-default-background: 0 0% 100%;
        --color-input-focused-background: 0 0% 100%;
    }

    /* TODO: Find right colors for dark mode */
    .dark {
        --color-border: 215 28% 25%;

        --color-background: 221 39% 11%;
        --color-foreground: 221 19% 95%;

        --color-muted: 215 28% 17%;
        --color-muted-foreground: 215 28% 70%;

        --color-primary: 273 67% 39%;
        --color-primary-foreground: 273 67% 99%;

        --color-success: 142 52% 29%;
        --color-success-foreground: 142 40% 95%;

        --color-warning: 48 66% 53%;
        --color-warning-foreground: 48 96% 15%;

        --color-danger: 0 53% 35%;
        --color-danger-foreground: 0 63% 95%;

        --color-card-background: 221 39% 11%;

        --color-input-default-background: 0 0% 100%;
        --color-input-focused-background: 0 0% 100%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings:
            'rlig' 1,
            'calt' 1;
    }

    table {
        @apply rounded bg-muted outline outline-[1px] -outline-offset-1 outline-border;
    }

    table th {
        @apply h-10 border-b bg-muted px-4 text-left text-xs font-medium text-muted-foreground;
    }

    table td {
        @apply px-4 py-3 text-sm;
    }

    table tr:first-child th:first-child {
        @apply rounded-tl;
    }

    table tr:first-child th:last-child {
        @apply rounded-tr;
    }

    table tr:last-child td:first-child {
        @apply rounded-bl;
    }

    table tr:last-child td:last-child {
        @apply rounded-br;
    }

    table tbody tr:nth-child(2n) td {
        @apply bg-card/50;
    }

    table tbody tr:nth-child(2n + 1) td {
        @apply bg-card;
    }

    table tbody tr:hover td {
        @apply bg-muted;
    }

    .animated-stripes {
        @apply relative isolate z-0;
    }

    .animated-stripes::before {
        --strip-opacity: var(--stripes-opacity, 0.5);

        --strip-color: var(--color-warning);
        --strip-color-primary: hsla(var(--strip-color) / var(--strip-opacity));
        --strip-color-secondary: hsla(var(--strip-color) / calc(var(--strip-opacity) / 2));

        @apply pointer-events-none absolute inset-0 -z-[1] animate-background-move content-[''];

        background: repeating-linear-gradient(
            45deg,
            var(--strip-color-secondary),
            var(--strip-color-secondary) 10px,
            var(--strip-color-primary) 10px,
            var(--strip-color-primary) 20px
        );
        background-size: 400% 100%;
    }
}
